{% extends "base.html" %}
{% block content %}



<section class="p-5">
     
    <div class="container">

        <div class="row text-center g-4">

            <div class="col-md">
         
                <div class="row">

                    <div class="col">
                        <h3>Home</h3>
                    </div>
                
                    <div class="col">
                        
                        <p class="text-end p-0 m-0">Current time: {{ moment().format('h:mm A')}}</p>
                        <p class="text-end">Date:  {{ moment().format('MMMM Do YYYY')}}</p> <hr>
                   
                        
                    </div>
                   
                </div>
             
                <div class="row">
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nobis iure corrupti dolores, hic accusantium sed quia consequuntur, molestias atque dicta? Illo corrupti commodi inventore. Quia, error doloremque impedit et, tempora repudiandae accusamus maxime, ex voluptate dolorem ea nesciunt fugiat odio quam iusto eveniet explicabo? Quae enim laboriosam nam asperiores perspiciatis illo velit facere recusandae autem, soluta suscipit praesentium vero fuga distinctio in aliquid dolorem quas quos assumenda debitis odit? Excepturi, debitis quidem numquam velit molestias, autem id doloribus harum aliquam quo magni molestiae dolores minus ipsa officiis eaque perspiciatis quibusdam asperiores culpa quae vitae maiores facere soluta cum. Mollitia!
                    </div>
                </div>

            </div>

        
         
        </div>


    </div>
</section>


{% endblock %}